{% extends 'base.html' %}

{% block content %}
<h4>If you’ve had to postpone your next trip to Japan due to the coronavirus pandemic and are stuck at home during your
    vacations,
    rest assured that you can still enjoy virtual travel to Japan without stepping outside.
    <br>
    <br>Using our virtual tour mates service, you can now get plenty of travel ideas and experience some of Japan’s most
    exciting attractions online,
    which can help you plan your trip and decide what you want to see in person.
</h4>

<br>
<h3>How it works?</h3>
<div style="text-align: left;">
    <h4>It's easy!</h4>
    <ol>
        <li> Register!</li>
        <li> create a request!</li>
        <li> Wait! (we're lookig for someone who can facetime with you.)</li>
        <li> Set a date!</li>
        <li> See the places you like via facetime!</li>
    </ol>
</div>
<div style="text-align: right;">
    <img src="https://images.squarespace-cdn.com/content/v1/5475c689e4b05a135b085d65/1539745270180-3YZYC85A3RY8454LKE54/ke17ZwdGBToddI8pDm48kHbiX_oRIAwjR2DjJTidV8IUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dqOEsifexA3U0hOaW_x0nKBZBc_XQTtV8q0N2_MJvslZ3WUfc_ZsVm9Mi1E6FasEnQ/Golden%2BTemple%2BKyoto%2BJapan%2BFirst%2BTimers%2BGuide.jpg"
        alt="" width="40%" height="40%">
</div>


{% endblock content %}